Repository bitsstdcheee/code-backup-status, changes with the labels that .github/labeler.yml gives for each.
All labels: Github Actions, 源代码, README

.github/labeler.yml:

Github Actions:
- .github/workflows/*

源代码:
- any: ['main.cpp']

README:
- any: ['README.md']

在代码文件标注重复计数, 链接数据文件, 添加 output.txt/md 忽略
  .gitignore
  main.cpp
Labels: 源代码

删除 Markdown Checkbox 功能
  main.cpp
Labels: 源代码

修改写法 oj.second -> current_oj
  main.cpp
Labels: 源代码

全局移除 OUT_Checkbox 符号
  .github/workflows/runner.yml
  .vscode/settings.json
Labels: Github Actions

Markdown 添加题目 id 根据最终状态添加颜色的功能
  .github/workflows/runner.yml
  .vscode/settings.json
  main.cpp
Labels: Github Actions, 源代码

改为使用 KaTeX 表示颜色
  main.cpp
Labels: 源代码

打开双反斜杠模式 目前在 Github 需要打开这个选项 但是本地跑时却不用
  .vscode/settings.json
  main.cpp
Labels: 源代码

Runner 打开 doublebackslash
  .github/workflows/runner.yml
Labels: Github Actions
